@charset "UTF-8";

html {
	font-family: "Pretendard Variable", Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 12px;
}

body {
	line-height: 1.6;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

header {
	position: fixed;
	top: 0; /* 수정된 부분: 상단에 고정 */
	width: 100%;
	padding: 20px 0;
	z-index: 1000;
	transition: all 0.3s ease-in-out;
	background-color: rgba(204, 170, 221, 0.8);
}

header .inner {
	padding: 0 100px;
}

header #logo {
	margin: 18px 50px 0 15px;
	float: left;
}

#logo a {
	width: 100px;
	height: 28px;
	background: url("../../images/logo.png") no-repeat;
	background-size: 100% auto;
	text-indent: -99999px;
	margin-top: 10px;
}

header #gnb {
	width: 800px; /* 추가 */
	margin-top: 8px;
	float: left;
}

#gnb li {
	float: left;
}

#gnb a {
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	width: 120px;
	padding: 15px;
}

#gnb a::after {
	content: "";
	display: block;
	background: #fff;
	width: 0;
	height: 2px;
	transition: all 0.2s ease-in-out;
}

#gnb a:hover {
	color: #BA55D3 !important;
}

#gnb a:hover::after {
	width: 100%;
}

#gnb .sub {
	display: none;
	padding-bottom: 20px;
}

#gnb:hover .sub {
	display: block;
}

#gnb .sub li {
	float: none;
	margin-left: 15px;
}

#gnb .sub a {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin-top: 5px;
	white-space: nowrap; /*! 줄바꿈 없애는 명령어..기억할것*/
}

#gnb .sub a::after {
	display: none;
}

#gnb .sub a:hover {
	text-decoration: underline;
}

header #sns {
	float: right;
	margin-top: 8px;
	font-size: 16px;
}

#sns li {
	float: left;
}

#sns a {
	padding: 15px 10px;
	color: #fff;
}

#sns a:hover {
	color: #BA55D3;
}

header.scrolled #logo a {
	background-position: 0 -28px;
}

#search {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 300;
	background: #000;
	opacity: 0;
	visibility: hidden; /*요소를 숨기거나 나타나게 하는것*/
	transform: scale(1.1, 1.1);
	transition: all 0.3s;
}

#search.show {
	opacity: 1;
	visibility: visible; /*요소를 숨기거나 나타나게 하는것*/
	transform: scale(1, 1);
}

#search .inner {
	width: 50%;
}

#search input {
	width: 100%;
	font-size: 7vw;
	padding: 0 0.1em;
	background: none;
	box-sizing: border-box;
	border: 0;
	border-bottom: 4px solid #5abcc4;
	outline: none;
	color: #5abcc4;
}

#search input::placeholder {
	color: #222;
}

#search p {
	color: #5abcc4;
	font-size: 90%;
	font-weight: bold;
	padding: 0.85em 0;
	text-align: right;
}

#search .close_search {
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	font-size: 2.5em;
	padding: 10px;
	color: #5abcc4;
	cursor: pointer;
}

#search .close_search i {
	transition: all 0.3s;
}

#search .close_search:hover i {
	transform: rotate(90deg);
}


/* 모달 스타일 */
#loginModal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 500px; /* 너비 높임 */
}

/* 모달 배경 스타일 (어두워지도록) */
#modalBackground {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* 어두운 배경 색상 */
  z-index: 1100;
}

/* 모달 내의 아이디/비밀번호 입력란 스타일 */
#loginModal label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

#loginModal input {
  width: calc(100% - 16px);
  padding: 10px;
  margin: 6px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

/* 로그인 버튼 스타일 */
#loginModal button {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

#loginModal button:hover {
  background-color: #BA55D3;
}

/* 추가 옵션 스타일 */
#loginModal a {
  color: #007bff;
  text-decoration: none;
  margin-left: 5px;
}

#loginModal a:hover {
  text-decoration: underline;
}

/* 추가 옵션들을 가로로 나열하기 위한 스타일 */
#loginModal .additional-options {
  display: flex;
  justify-content: space-between;
}

#loginModal .modal-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

#loginModal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

#loginModal .close-button:hover {
  color: #BA55D3;
}