<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.ezenhr.persistance.CommuteService_Mapper">

	 <insert id="saveSignInTime" parameterType="cv">
        INSERT INTO CommuteTable (cInTime, uidx, didx, departmentName,ctype)
        VALUES (now(), #{uidx}, #{didx}, #{departmentName},#{ctype})
    </insert>
	
	<!-- <insert id="saveCommuteInfo" parameterType="civ">
		insert into CommuteInfo (uidx, cidx, cType, cDate)
		VALUES (#{uidx}, #{cidx}, #{cType}, #{cDate, jdbcType=DATE, javaType=java.time.LocalDate, typeHandler=org.apache.ibatis.type.LocalDateTypeHandler})
	</insert> -->
	
	<!-- 퇴근 정보 저장 -->
    <update id="saveSignOutTime" parameterType="cv">
        UPDATE CommuteTable
        SET cOutTime = now(), ctype = '퇴근'
        WHERE uidx = #{uidx} AND cOutTime IS NULL
    </update>
    
    <select id="getCommuteInfo" resultType="cv">
    	SELECT cidx, cInTime, uidx, didx, cOutTime, ctype
    	FROM CommuteTable
    	WHERE uidx = #{uidx}
    	ORDER BY cidx DESC
    	LIMIT 1
    </select>
    
    <select id="getCommuteList" parameterType="int" resultType="cv">
    	SELECT *
    	FROM CommuteTable
    	WHERE uidx = #{uidx}
    	ORDER BY cInTime;
    </select>
    
    <!-- 출근 시간 업데이트 -->
    <update id="updateSignInTime" parameterType="cv">
        UPDATE CommuteTable
        SET cInTime = #{cInTime},
            cReason = #{cReason}
        WHERE uidx = #{uidx}
    </update>

    <!-- 퇴근 시간 업데이트 -->
    <update id="updateSignOutTime" parameterType="cv">
        UPDATE CommuteTable
        SET cOutTime = #{cOutTime},
            cReason = #{cReason}
        WHERE uidx = #{uidx}
    </update>
    
    <select id="getDayCommuteListByDate" resultType="cv">
    SELECT * FROM CommuteTable
    WHERE YEAR(cInTime) = #{year} AND MONTH(cInTime) = #{month} AND DAY(cInTime) = #{day}
    ORDER BY cInTime;
	</select>
    
    <select id="getDayCommuteListByDateAndDepartment" parameterType="map" resultType="cv">
    SELECT * FROM CommuteTable
    WHERE YEAR(cInTime) = #{year}
      AND MONTH(cInTime) = #{month}
      AND DAY(cInTime) = #{day}
      <if test="departmentName != null and departmentName != ''">
          AND departmentName = #{departmentName}
      </if>
</select>

	
    
</mapper>