<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.ezenhr.persistance.LeaveService_Mapper">
	<insert id="leaveInsert" parameterType="lv">
		INSERT INTO LeaveTable (lType, lStart, lEnd, lState, lAcpYn, lReason, aidx, uidx)
		VALUES (#{lType}, #{lStart}, #{lEnd}, 'W',  'N', #{lReason},  #{aidx},  #{uidx})
	</insert>
	
	
 <select id="getLeaveDataWithUsernameByAidx" parameterType="int" resultType="java.util.HashMap">
        <![CDATA[
            SELECT ea.aDate, lt.*, ut.uName
            FROM LeaveTable lt
            LEFT JOIN ElectronicApprovals ea ON lt.aidx = ea.aidx
            LEFT JOIN UserTable ut ON lt.uidx = ut.uidx
            WHERE lt.aidx = #{aidx}
        ]]>
    </select>
    
    <select id="selectLeaveByAidx" parameterType="int" resultType="lv">
    SELECT * FROM LeaveTable where aidx = #{aidx}
    </select>
    
     <update id="updateLeaveStatus" parameterType="lv">
        UPDATE LeaveTable
        SET
            lAcpYn = #{lAcpYn},
            lState = #{lState}
        WHERE
            aidx = #{aidx}
    </update>
</mapper>