<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.ezenhr.persistance.UserService_Mapper">

<insert id="userInsert" parameterType="uv">
insert into UserTable(uId,uPwd,uName,uHireDate,uRemainDay,uPhone,uDate,uDelYn,uGrade,uApprovalLevel,uAdminYn,didx) 
values(#{uId},#{uPwd},#{uName},#{uHireDate},#{uRemainDay},#{uPhone},now(),'N',#{uGrade},'0','N',#{didx})
</insert>

<select id="userLogin" parameterType="HashMap" resultType="uv">
select uidx,uId,uName from UserTable where uId=#{uId} and uPwd=#{uPwd}
</select>

<select id="userLogin2" parameterType="String" resultType="uv">
select uidx,uId,uName,uPwd from UserTable where uId=#{uId}
</select>

<select id="userIdCheck" parameterType="String" resultType="int">
select count(*) as cnt from UserTable where uId = #{uId}
</select>

<select id="memberList"  resultType="uv">
select midx,memberid,membername,writeday from member0803 where delyn='N' order by midx desc
</select>

<select id="getUserInfo" resultType="uv">
select * FROM UserTable where uidx = #{uidx}
</select>

<select id="getDepartmentName" parameterType="int" resultType="string">
	SELECT dName FROM DepartmentTable WHERE didx = #{didx}
</select>

 <select id="getUserDepartmentId" resultType="int" parameterType="int">
        SELECT didx
        FROM UserTable
        WHERE uidx = #{uidx}
    </select>

</mapper>