
@charset "utf-8";



/*해당 네브 메뉴 색상 변경*/
/*내 스케쥴관리*/
#gnb > ul > li:first-child > a {
    color:  #4682B4 !important;
}
/*근태관리*/
#gnb > ul > li:first-child > div.sub > ul > li:nth-child(1) > a {
    color: #4682B4 !important;
}


/*사이드바 css*/
.sidebar {
	width: 10%;
	height: 100%;
	position: fixed;
	top: 220px;
	left: -250px;
	transition: all 0.3s ease;
}

.sidebar.active {
	left: 0;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	height: 56px;
	border-bottom: 1px solid #ddd;
}

.sidebar ul li a {
	padding-left: 20px;
	margin-top: 4%;
	line-height: 40px;
	width: 90%;
	height: 70%;
	text-decoration: none;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sidebar ul li a:hover {
	background-color: #ccaadd !important;
	color: #BA55D3 !important;
}

#sideBtn {
	position: fixed;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	padding: 10px;
	top: 150px;
}

main {
	width: 70%;
	margin-top: 9%;
	margin-right: auto;
	margin-left: auto;
	min-height: 100vh;
}

#my_info {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	align-items: flex-end;
	justify-content: space-between;
}

.info_title {
	display: flex;
	align-items: flex-end;
}

.info_title span {
	color: #4363d8;
	font-size: 30px;
	font-weight: bold;
}

.info_title p {
	margin-left: 10px;
	font-size: 20px;
}

.info_text {
	font-size: 20px;
}

.info_text label {
	font-weight: bold;
}

#main_zone {
	display: flex;
	margin: 30px auto;
	width: 100%;
	height: 730px;
	border: 0.5px solid #ccaadd;
	justify-content: space-evenly
}

#api_zone {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width: 60%;
	height: 90%;
	border: 0.5px solid #FFC0CB;
}

#api_zone p {
	font-size: 30px;
	text-align: center;
}

#commute_modify_form {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	border: 0.5px solid #FFC0CB;
	height: 90%;
	width: 30%;
}

#commute_modify_form h2 {
	font-weight: bold;
	font-size: 23px;
	margin-top: 20px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

.able_modify label {
	font-size: 18px;
}

#modify_reason label {
	font-size: 18px;
}

#input_zone {
	width: 90%;
	margin: 30px auto;
}

.able_modify {
	margin-top: 30px;
}

#commute_modify_form input, select, span, p {
	float: right;
	margin-left: 10px;
}

#commute_modify_form p {
	font-size : 18px;
}

#commute_modify_form select {
	height: 24px;
	width: 109px;
}

#modify_reason {
	width: 90%;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

#cReason {
	margin: 20px auto;
	width: 100%;
	height: 250px;
	border: 1px solid #848484;
}

::placeholder {
	color: #c0c0c0;
	font-size: 12px;
}

#button_zone {
	display: flex;
	float: right;
	margin-right: 20px;
	height: 40px;
	margin-bottom: 20px;
}

/* 버튼 스타일링 */
#modiBtn {
	padding: 10px 25px;
	border: none;
	border-radius: 5px;
	background-color: #FFC0CB;
	color: #333;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-right: 20px;
}

#backBtn {
	padding: 10px 25px;
	border: none;
	border-radius: 5px;
	background-color: c0c0c0;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#modiBtn:hover {
	background-color: #FF69B4;
	color: #FFF;
}

::selection {
	color: #ccaadd;
}

#backBtn:hover {
	background-color: #969696;
	color: #000;;
}

#signInBtn, #signOutBtn {
	margin-right: 10px;
}