@charset "UTF-8"; 

 @charset "utf-8";

html {
	font-family: "Pretendard Variable", Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 12px;
}

body {
	line-height: 1.6;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

header {
	position: fixed;
	top: 0; /* 수정된 부분: 상단에 고정 */
	width: 100%;
	padding: 20px 0;
	z-index: 1000;
	transition: all 0.3s ease-in-out;
	background-color: rgba(204, 170, 221, 0.8);
}

header .inner {
	padding: 0 100px;
}

header #logo {
	margin: 18px 50px 0 15px;
	float: left;
}

#logo a {
	width: 100px;
	height: 28px;
	background: url("../images/logo.png") no-repeat;
	background-size: 100% auto;
	text-indent: -99999px;
	margin-top: 10px;
}

header #gnb {
	width: 800px; /* 추가 */
	margin-top: 8px;
	float: left;
}

#gnb li {
	float: left;
}

#gnb a {
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	width: 120px;
	padding: 15px;
}

#gnb a::after {
	content: "";
	display: block;
	background: #fff;
	width: 0;
	height: 2px;
	transition: all 0.2s ease-in-out;
}

#gnb a:hover {
	color: #BA55D3 !important;
}

#gnb a:hover::after {
	width: 100%;
}

#gnb .sub {
	display: none;
	padding-bottom: 20px;
}

#gnb:hover .sub {
	display: block;
}

#gnb .sub li {
	float: none;
	margin-left: 15px;
}

#gnb .sub a {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin-top: 5px;
	white-space: nowrap; /*! 줄바꿈 없애는 명령어..기억할것*/
}

#gnb .sub a::after {
	display: none;
}

#gnb .sub a:hover {
	text-decoration: underline;
}

header #sns {
	float: right;
	margin-top: 8px;
	font-size: 16px;
}

#sns li {
	float: left;
}

#sns a {
	padding: 15px 10px;
	color: #fff;
}

#sns a:hover {
	color: #BA55D3;
}

header.scrolled #logo a {
	background-position: 0 -28px;
}

#search {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 300;
	background: #000;
	opacity: 0;
	visibility: hidden; /*요소를 숨기거나 나타나게 하는것*/
	transform: scale(1.1, 1.1);
	transition: all 0.3s;
}

#search.show {
	opacity: 1;
	visibility: visible; /*요소를 숨기거나 나타나게 하는것*/
	transform: scale(1, 1);
}

#search .inner {
	width: 50%;
}

#search input {
	width: 100%;
	font-size: 7vw;
	padding: 0 0.1em;
	background: none;
	box-sizing: border-box;
	border: 0;
	border-bottom: 4px solid #5abcc4;
	outline: none;
	color: #5abcc4;
}

#search input::placeholder {
	color: #222;
}

#search p {
	color: #5abcc4;
	font-size: 90%;
	font-weight: bold;
	padding: 0.85em 0;
	text-align: right;
}

#search .close_search {
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	font-size: 2.5em;
	padding: 10px;
	color: #5abcc4;
	cursor: pointer;
}

#search .close_search i {
	transition: all 0.3s;
}

#search .close_search:hover i {
	transform: rotate(90deg);
}

/*사이드바 css*/
.sidebar {
	width: 10%;
	height: 100%;
	position: fixed;
	top: 220px;
	left: -250px;
	transition: all 0.3s ease;
}

.sidebar.active {
	left: 0;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	height: 56px;
	border-bottom: 1px solid #ddd;
}

.sidebar ul li a {
	padding-left: 20px;
	margin-top: 4%;
	line-height: 40px;
	width: 90%;
	height: 70%;
	text-decoration: none;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #ccaadd;
	color: #BA55D3;
}

main {
	width: 70%;
	margin-top: 8%;
	margin-right: auto;
	margin-left: auto;
	min-height: 100vh;
}

#sideBtn {
	position: fixed;
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
	padding: 10px;
	top: 150px;
}

#my_info {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	align-items: flex-end;
	justify-content: space-between;
}

.info_title {
	display: flex;
	align-items: flex-end;
}

.info_title span {
	font-size: 30px;
	font-weight: bold;
}

.info_title p {
	margin-left: 10px;
	font-size: 20px;
}

.info_text {
	font-size: 20px;
	margin-left: 5%;
}

.info_text label {
	font-weight: bold;
}

#main_zone {
	margin: 50px auto;
	width: 80%;
	height: 730px;
	border: 0.5px solid #ccaadd;
}

#select_zone {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

#date_select {
	display: flex;
	align-items: flex-end;
}

#leaveYear {
	margin-left: 10px;
}

#leaveMonth {
	margin-left: 10px;
}

#type_select {
	display: flex;
}

#leaveType, #leaveType2 {
	margin-right: 10px;
}

#date_select p {
	font-size: 16px;
	margin-left: 5px;
}

select {
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 12px;
	background-color: white;
	color: #333;
}

#leaveState {
	margin-top: 20px;
	display: flex;
	justify-content: center
}

#leaveState label {
	font-size: 20px;
	font-weight: bold;
	color: #4363d8;
}

#leaveState span {
	font-size: 20px;
	margin-left: 10px;
}

/* 버튼 스타일링 */
#typeBtn {
	padding: 6px 12px;
	border: none;
	border-radius: 5px;
	background-color: #FFC0CB;
	color: white;
	font-size: 12px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-right: 10px;
}

#typeBtn:hover {
	background-color: #FF69B4;
}

#main_table {
	font-family: Arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#main_table {
	border-collapse: collapse;
	width: 98%;
	margin: 20px auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

#main_table thead th {
	background-color: #f8f9fa;
	color: #212529;
	text-align: center;
	border-bottom: 2px solid #dee2e6;
	padding: 12px;
	font-weight: bold;
	font-size: 13px;
}

#main_table tbody tr:nth-child(even) {
	background-color: #f8f9fa;
}

#main_table tbody tr:hover {
	background-color: #e9ecef;
	cursor: pointer;
}

#main_table tbody td {
	border-bottom: 1px solid #dee2e6;
	color: #212529;
	padding: 12px;
	text-align: center;
}

#paging_zone {
	font-size: 12px;
	text-align: center;
	width: 60%;
	margin: 20px auto;
}